{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": false,
    "no-param-reassign": "warn",
    "prefer-const": "off",
    "arrow-parens": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
